{:highlights [{:id #uuid "64d3d1ce-812f-4c6f-a7a3-efc5136c6759",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 13,
                                     :x2 358.9910888671875,
                                     :y2 304.625,
                                     :width 404,
                                     :height 522.8235294117646},
                          :rects ({:x1 0,
                                   :y1 13,
                                   :x2 0,
                                   :y2 35,
                                   :width 404,
                                   :height 522.8235294117646}
                                  {:x1 56.1796875,
                                   :y1 284.7734375,
                                   :x2 358.9910888671875,
                                   :y2 293.7734375,
                                   :width 404,
                                   :height 522.8235294117646}
                                  {:x1 56.1796875,
                                   :y1 295.625,
                                   :x2 151.54217529296875,
                                   :y2 304.625,
                                   :width 404,
                                   :height 522.8235294117646}),
                          :page 2},
               :content {:text "With its modern architecture, unparalleled panoramic view of the Bosphorus and focus on excellent service"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
